<div class="p-5 bg-white dark:bg-gray-800 shadow-sm rounded-xl">
  <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">
    <h2 class="text-lg font-semibold text-gray-800 mb-4"> Informations concernant l'Immobilier:</h2>

    <!-- Titre -->
    <div class="mb-4">
      <label for="title" class="block text-sm font-medium text-gray-900">Titre d'Immobilier:</label>
      <input id="title" type="text" formControlName="title" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

    <!-- Description -->
    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-900">Description:</label>
      <textarea id="description" formControlName="description" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500"></textarea>
    </div>

    <!-- Localisation -->
    <div class="mb-4">
      <label for="location" class="block text-sm font-medium text-gray-900">Ville:</label>
      <input id="location" type="text" formControlName="location" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

    <!-- Ville -->
    <div class="mb-4">
      <label for="city" class="block text-sm font-medium text-gray-900">Adresse exacte:</label>
      <input id="city" type="text" formControlName="city" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

    <!-- Code postal -->
    <div class="mb-4">
      <label for="poste_code" class="block text-sm font-medium text-gray-900">code Postal:</label>
      <input id="poste_code" type="text" formControlName="poste_code" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
    </div>

  <!-- Prix HT -->
  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Prix Hors Taxes (HT)</label>
    <input type="number" formControlName="priceHT" (input)="calculateTTC()" class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300">
    <div *ngIf="houseForm.get('title')?.invalid && houseForm.get('title')?.touched" class="text-red-600 text-sm">
      Ce champ est obligatoire.
    </div>
</div>

<!-- TVA (%) -->
<div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">TVA (%)</label>
    <input type="number" formControlName="tva" (input)="calculateTTC()" class="w-full p-2 border rounded-lg focus:ring focus:ring-blue-300">
    <div *ngIf="houseForm.get('title')?.invalid && houseForm.get('title')?.touched" class="text-red-600 text-sm">
      Ce champ est obligatoire.
    </div>
</div>

<!-- Prix TTC -->
<div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">Prix TTC</label>
    <input type="text" formControlName="priceTTC" [disabled]="true" class="w-full p-2 border rounded-lg bg-gray-100">
</div>

      <!-- Type de logement -->
      <div class="mb-4">
        <label for="type" class="block text-sm font-medium text-gray-900">Type d'Immobilier:</label>
        <select id="type" formControlName="type" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
          <option value="appartement">Appartement</option>
          <option value="maison">Maison</option>
          <option value="villa">Villa</option>
          <option value="studio">Studio</option>
  
        </select>
      </div>
 

  
<!-- Caractéristiques -->
<div class="mb-4">
  <label class="block text-sm font-medium text-gray-900">Caractéristiques:</label>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let characteristic of characteristics" class="flex items-center">
      <input type="checkbox" [value]="characteristic.id" (change)="onSelectCharacteristic($event, characteristic)" class="mr-2">
      <label>{{ characteristic.title }}</label>
      <input type="number" min="1" [value]="characteristic.quantite" (input)="onQuantityChange('characteristic', characteristic.id, $event)" class="ml-2 w-16 text-center border rounded">
      <img [src]="characteristic.image" alt="{{ characteristic.title }}" class="w-10 h-10 ml-2">
    </div>
  </div>
</div>

<!-- Équipements -->
<div class="mb-4">
  <label class="block text-sm font-medium text-gray-900">Équipements:</label>
  <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let equipment of equipements" class="flex items-center">
      <input type="checkbox" [value]="equipment.id" (change)="onSelectEquipement($event, equipment)" class="mr-2">
      <label>{{ equipment.title }}</label>
      <input type="number" min="1" [value]="equipment.quantite" (input)="onQuantityChange('equipement', equipment.id, $event)" class="ml-2 w-16 text-center border rounded">
      <img [src]="equipment.image" alt="{{ equipment.title }}" class="w-10 h-10 ml-2">
    </div>
  </div>
</div>


    <!-- Images -->
    <div class="mb-4">
      <label class="block text-sm font-medium text-gray-900">Images:</label>
      <input type="file" (change)="picked($event)" class="w-full p-2 border rounded-lg focus:ring-blue-500 focus:border-blue-500" multiple>

      <div *ngFor="let item of pictureArray; let i = index" class="clr-col-12 clr-col-sm-3 clr-col-md-4 clr-col-lg-4 clr-col-xl-2 img">
        <div class="card clickable">
          <div class="card-img container">
            <div class="clr-row clr-justify-content-between">
              <div class="clr-col-4">
                <span class="label label-success" *ngIf="item.defaults">Principale</span>
              </div>
              <div class="clr-justify-content-end">
                <span>
                  <button type="button" class="btn btn-icon btn-warning btn-sm delete-icon" aria-label="warning" (click)="deletePicAction(item)">
                  </button>
                </span>
              </div>
            </div>
            <img [src]="item.url">
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton de soumission -->
    <div class="mt-5 flex justify-end">
      <button type="submit" class="py-2 px-4 bg-green-600 text-white rounded-lg hover:bg-green-700">
        Ajouter
      </button>
    </div>
  </form>
</div>